*{margin:0px; padding:0px;}

div{border:1px red solid; }
a:link{text-decoration: none;}
ul,li{list-style:  none};

.wrap{width:900px; height:540px; /*margin: 50px auto*/}

.content{margin:auto; border:none;}

.top{width:840px; height:111px;}

.topnews{width:245px; height: 380px; float:left;}

.topnews .news1{width:245px; height:267px; float:left; overflow:hidden; }

.topnews .news1 img{width:100%;}

.news1 a:hover{color: black;}

.news1 

.topnews .news1 li{padding:5px 5px;}

.topnews .news1 ul{margin-top:0px; background-color: gray;}

.topnews .news1 li:first-child{margin-bottom:6px;}

.topnews .news1 li:first-child+li{font-size: 13px}

.news{width:315px; height: 380px; float:left; border:1px black solid;}

.subnewstop{width:315px; height:80px; border:1px black solid;}

.subnewsbottom{width:315px; height:80px; border:1px black solid; }

.majornews{width:315px; height:202px;}

.majornews li{margin-top:5px; }










.bulletin{width:261px; height:380px; float:left}

.bulletin li{
	float:left; 
	width:124px; 
	height:75px; 
	position:relative; 
	overflow:hidden
	}
.bulletin li img{width:100%; width:124px; height:75px;}

.bulletin li p{
	
	
	width:116px; height:26px;
	position:absolute; 
	color:#FFF;
	bottom:0px; 
	width: 100%;
	background-image:url("../images/transparent_bg.png");
	
}

/*.bulletin li>a:first-child+a+a+a{width:116px; height:50px;}*/




.bulletin ul>li{margin-left:2px; width:126px; height:112px; border:.5px black solid;}

.bulletin li p a{
	display:block; 
	margin: 0 5px; 
	
	}



