/*reset*/
*{margin:0; padding:0;}
ul,li{list-style: none;}

/*option*/
.border{border:1px red solid;}

section{width:900px; height:540px; margin:0 auto;}

.head{margin:0 30px 10px; border-bottom:3px solid black;}

.head ul li{display:inline-block;}

h1{padding: :20px 0 0 0;}

.head .promotion{float:right; margin-top:20px;}

.content{width:840px; height:175px; border:1px black solid; margin:auto; }
.content .img1{width:267px; height:173px; float:left; margin-right:19.5px; }


.content .text1{width:257px; height:45px; position: absolute; background-color:#008000; opacity:0.6;
				margin-top:125px; margin-left: 3px; color: white; float:left }
				

.content .img2{width:267px; height:173px; float:left; margin-right:19.5px;}

.content .text2{width:257px; height:45px; position: absolute; background-color:#008000; opacity:0.6;
				margin-top:125px; margin-left: 292px; color: white; float:left }


.content .img3{width:267px; height:173px; float:left; }

.content .text3{width:257px; height:45px; position: absolute; background-color:#008000; opacity:0.6;
				margin-top:125px; margin-left: 578px; color: white; float:left }				

