@charset "utf-8";
/*reset*/
*{margin:0; padding:0}
body{
	font-size: 12px; 
	font-family:dotum,"돋움,Arial, "; 
	color:#666
	}
	
	
a{
	text-decoration:none; 
	color: inherit;}
		
		
		
a:hover{
	color:#F00
}		

p{
	line-height: 170%
}
		
		
		
ul,ol{list-style: none;}




body{background-image: }
.wrap




/*option*/

.list-point{color:blue}
